* {
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
}

header {
	text-align:center;
}

header h1 {
    font-size: 36px;
    margin: 0px;
}

header h2 {
    font-size: 18px;
    margin: 0px;
    color: #EFD3D3;
    background-color:#666;
    font-style: italic;
}

.content {
	background-color:#F7E9E9;
	border-style:solid;
	border-width:1px
}
