body {
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1em;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    font-size:4em;
    margin:0px;
    padding:0px;
    text-align:center;
}

h2 {
    font-size:3em;
}

.message {
    background-color:#404040;
    color:#FFFFFF;
    font-size:2em;
    margin:10px 20px;
    padding:5px 10px;
    text-align:center;
}

.gridCell {
    width:95%;
    margin:1px 2px;
}

.stackButton {
    background-color:#282828;
    color:#C0C0C0;
    font-size:1em;
}

.button {
    background-color:#282828;
    color:#C0C0C0;
    font-size:3em;
    max-width:95%;
    padding:2px 5px;
    text-align:center;
}

.textField {
    background-color:#E0E0E0;
    color:#202020;
    font-size:3em;
    max-width:95%;
    padding:2px 5px;
}

.content {
    background-color:#F7E9E9;
    font-size:3em;
    margin:0px 5px;
    padding:2px 5px;
    border-style:solid;
    border-width:1px
}

.selectedContent {
    color: #F7E9E9;
    background-color:#666;
    font-size:3em;
}

.listContent {
    margin: 2px;
    width:99%
}

.singleRow {
    height:5%;
    min-height:20px
}

.listboxRow {
    height:10%;
    min-height:60px
}

.contentRow {
    height:50%;
    min-height:160px
}
